.title {
  display: grid;
  align-items: center;

  margin-bottom: 20px;
  grid-template-columns: auto 1fr auto;
  justify-items: left;
  gap: 19px;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;

  align-items: baseline;
  justify-items: left;
  gap: 20px;
}

.seo h3 {
  font-size: 14px;
  line-height: 171%;
}

.seo h2 {
  margin: 15px 0;

  font-size: 18px;
  line-height: 161%;
}

.seo h1 {
  font-size: 16px;
  line-height: 150%;
}

.seo li {
  margin-bottom: 15px;
  margin-left: 30px;
}

.seo p {
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .title {
    grid-template-columns: auto 1fr;
    gap: 30px;
  }
}

@media (max-width: 765px) {
  .title {
    gap: 15px;
  }
}
