.star {
  display: inline-block;
}

.star svg {
  margin-right: 5px;
}

.filled svg {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}

.error svg {
  stroke: var(--red);
}

.ratingWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  top: -22px;
  left: 0;

  color: var(--red);
}
