.product {
  display: grid;

  position: relative;
  z-index: 1;
  margin-top: 30px;
  padding: 30px;
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
    [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];
}

.product:last-child {
  margin-bottom: 0;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
  grid-column: ratingstart / end;
}

.hr,
.description,
.actions {
  grid-column: start / end;
}

.feature {
  grid-column: start / middle;
}

.comparisons {
  grid-column: middle / end;
}

.logo img {
  border-radius: 5px;
}

.rateTitle a {
  color: var(--primary);
}

.title {
  align-self: flex-end;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.category {
  margin-top: 7px;
}

.price,
.credit {
  align-self: flex-end;

  font-size: 20px;
  line-height: 27px;
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.credit span {
  font-size: 14px;
  line-height: 19px;
}

.rating {
  align-self: flex-end;
}

.sale {
  margin-left: 5px;
}

.priceTitle,
.creditTitle,
.rateTitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.description {
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 24px;
}

.characteristic {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;

  padding-right: 60px;

  font-size: 16px;
  line-height: 32px;
}

.characteristicName {
  font-weight: bold;
}

.characteristicDots {
  margin-bottom: 5px;

  border-bottom: 1px dashed var(--gray-light);
}

.characteristicValue {
  text-align: right;
}

.comparisons {
  font-size: 16px;
  line-height: 22px;
}

.comparisonsTitle {
  margin-bottom: 5px;

  font-weight: bold;
}

.advantages {
  position: relative;

  padding-left: 15px;
}

.advantages .only {
  margin-bottom: 20px;
}

.advantages::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 3px;
  height: 100%;

  content: "";

  border-radius: 2px;
  background-color: var(--green);
}

.disadvantages {
  position: relative;

  padding-left: 15px;
}

.disadvantages::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 3px;
  height: 100%;

  content: "";

  border-radius: 2px;
  background-color: var(--red);
}

.actions {
  display: grid;
  grid-template-columns: 148px 148px;
  gap: 20px;
}

@media (max-width: 1330px) {
  .product {
    grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
    grid-template-areas:
      "logo . title title title title title"
      "logo . tags tags tags tags tags"
      "price price price . credit . rating"
      "priceTitle priceTitle priceTitle . creditTitle . rateTitle"
      "hr hr hr hr hr hr hr"
      "description description description description description description description"
      "feature feature feature feature feature feature feature"
      "comparisons comparisons comparisons comparisons comparisons comparisons comparisons"
      "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
      "actions actions actions actions actions actions actions";
  }

  .logo {
    margin-bottom: 20px;
    grid-area: logo;
  }

  .title {
    grid-area: title;
  }

  .tags {
    margin-bottom: 10px;
    grid-area: tags;
  }

  .price {
    grid-area: price;
  }

  .credit {
    grid-area: credit;
  }

  .rating {
    white-space: nowrap;
    grid-area: rating;
  }

  .priceTitle {
    grid-area: priceTitle;
  }

  .creditTitle {
    grid-area: creditTitle;
  }

  .rateTitle {
    grid-area: rateTitle;
  }

  .hr {
    grid-area: hr;
  }

  .description {
    grid-area: description;
  }

  .feature {
    margin-bottom: 20px;
    grid-area: feature;
  }

  .comparisons {
    grid-area: comparisons;
  }

  .hr2 {
    grid-area: hr2;
  }

  .actions {
    grid-area: actions;
  }

  .characteristic {
    padding-right: 0;
  }
}

@media (max-width: 640px) {
  .product {
    padding: 20px;
    grid-template-columns: 70px 30px 1fr;
    grid-template-areas:
      "logo . title"
      "logo . tags"
      "priceTitle priceTitle price"
      "creditTitle creditTitle credit"
      "rateTitle rateTitle rating"
      "hr hr hr"
      "description description description"
      "feature feature feature"
      "comparisons comparisons comparisons"
      "hr2 hr2 hr2"
      "actions actions actions";
  }

  .tags {
    margin-bottom: 15px;
  }

  .price {
    display: flex;

    margin-bottom: 10px;

    font-size: 16px;
  }

  .credit {
    margin-bottom: 15px;

    font-size: 16px;
  }
}

@media (max-width: 440px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "title"
      "tags"
      "priceTitle"
      "price"
      "creditTitle"
      "credit"
      "rateTitle"
      "rating"
      "hr"
      "description"
      "feature"
      "comparisons"
      "hr2"
      "actions";
  }

  .logo {
    margin-bottom: 5px;
  }

  .title {
    font-size: 18px;
  }

  .priceTitle,
  .creditTitle,
  .rateTitle {
    margin-bottom: 2px;
  }

  .actions {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
