.firstLevel {
  display: grid;
  align-items: center;

  margin-top: 20px;

  transition: all 0.2s;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  grid-template-columns: 24px 1fr;
  gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.firstLeveList {
  list-style: none;
}

.secondBlock {
  margin-top: 14px;
  margin-left: 12px;
  padding-left: 32px;

  border-left: 1px solid #DFDFDF;

  list-style: none;
}

.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--grey-dark);

  font-size: 12px;
  font-weight: 300;

  background: none;
  border: none;
  padding: 0;
}

.secondLevelBlock {
  overflow: hidden;
  list-style: none;
}

.thirdLevel {
  display: block;

  margin-bottom: 10px;

  cursor: pointer;
  transition: all 0.2s;

  color: var(--grey-dark);

  font-size: 14px;
  font-weight: 500;
  outline-offset: -2px;
}

.ThirdLevelList {
  list-style: none;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
