.form {
  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;

  align-items: center;

  font-size: 14px;
  line-height: 24px;
}

.description {
  resize: none;
}

.description,
.submit {
  grid-column: start / end;
}

.titleInput {
  justify-self: left;
}

.info {
  display: inline-block;

  margin-left: 15px;
}

.rating {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.success {
  position: relative;

  margin-top: 20px;
  padding: 20px;

  border-radius: 5px;
  background-color: var(--green-light);
}

.successTitle {
  margin-bottom: 5px;

  font-weight: bold;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
}

.btn {
  width: 148px;
}

@media (max-width: 1115px) {
  .form {
    grid-template-columns: [start] 1fr 1fr [end];
  }

  .rating {
    grid-column: start / end;
  }

  .titleInput {
    justify-self: normal;
  }

  .btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .form {
    grid-template-columns: [start] 1fr [end];
  }

  .rating {
    order: -1;
  }

  .btn {
    width: 100%;
  }
}
